/***********************************************************************************/
/***********************************************************************************/
/*************************        MOBILE           *********************************/
/***********************************************************************************/
/***********************************************************************************/

.mobile_nav-bar {
  z-index: 1000;
  display: none;
  position: fixed;
  width: -webkit-fill-available;
  padding-inline: 3rem;
  background-color: rgba(87, 227, 229, 0.8);
  border-radius: 0 0 50px 50px;
}

.btn-mobile-nav {
  background: none;
  border: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #153131;
}

.mobile-nav-img {
  position: fixed;
  height: 5rem;
  right: 38%;
}

.mobile_nav-menu {
  display: none;
  position: fixed;
  z-index: 1500;
  width: 20rem;
  height: 36rem;
  background-color: rgba(87, 227, 229, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 0 0 3rem 0;
  box-shadow: 0 5px 10px 0 rgba(21, 49, 49, 0.3);
  transition: all 0.3s ease;
}

.mobile-menu-close-icon {
  padding-top: 1rem;
  padding-left: 2rem;
  color: #153131;
  font-size: 5rem;
}

.mobile-menu-list {
  padding-bottom: 2rem;
}

.mobile-menu-link {
  padding-left: 3rem;
  font-size: 2rem;
  color: #153131;
}

.menu-list-icon {
  padding-left: 1rem;
}

.display-block {
  display: block;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************     MEDIA QUERIES       *********************************/
/***********************************************************************************/
/***********************************************************************************/

@media (max-width: 1440px) {
  .img-div {
    height: 50rem;
    width: 30rem;
  }

  .home-p {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1305px) {
  .section-p {
    font-size: 1.5rem;
  }

  .header-txt-div {
    margin-top: 2rem;
  }

  .header-img-div {
    top: -20rem;
  }

  .home-p {
    font-size: 1.5rem;
  }

  .img-div {
    height: 40rem;
    width: 20rem;
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    display: none;
  }

  .header-img-div {
    height: 20rem;
    width: 20rem;
  }

  .nav-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .home-section-1,
  .home-section-2 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-section-2 {
    align-content: flex-end;
  }

  .img-div {
    height: 30rem;
    width: 20rem;
  }

  .header-img-div {
    height: 10rem;
    width: 10rem;
  }

  .nav-name {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header-img-div {
    display: none;
  }

  .navbar {
    display: none;
  }

  .header-txt-div {
    margin-top: 0rem;
  }

  .mobile_nav-bar {
    display: flex;
  }

  .section-p {
    padding-inline: 0rem;
  }

  .home-section-2 {
    align-content: normal;
  }

  .section-txt {
    padding-inline: 0rem;
    padding-top: 0rem;
  }

  .footer-img {
    padding-right: 2rem;
  }

  .email-label {
    font-size: 1rem;
  }

  .email-input {
    width: 10rem;
  }

  .footer-menu-link {
    padding-right: 0rem;
  }
}
